NEXT_PUBLIC_APPSTORE_URL=https://apps.apple.com/
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/watch?v=dQw4w9WgXcQ
NEXT_PUBLIC_SUPPORT_EMAIL=brotto@brotto.io
NEXT_PUBLIC_PUBLISHER_NAME=Brotto
NEXT_PUBLIC_PUBLISHER_SITE=https://brotto.io
NEXT_PUBLIC_STATUS_URL=https://status.example.com
